@inject IGame Game
<h3 class="display-4 w-100 text-center">Bingo!</h3>

<div class="btn-group w-100 my-4">
    <button @onclick="CallBall" class="btn btn-success">Call Ball</button>
    <button @onclick="RestartGame" class="btn btn-danger">Restart Game</button>
    <button @onclick="HandCard" class="btn btn-info">Hand Card</button>
</div>

<CalledBallList CalledBalls="@Game.CalledNumbers"/>
<div class="row">
    @foreach (var card in Game.Cards)
    {
        <div class="col-md-6">
            <Card Game="@Game" MyCard="@card" BingoComponent="@this"></Card>
        </div>
    }
</div>
@if (_winMessage != string.Empty)
{
    <p class="my-4 alert alert-info">@_winMessage</p>
}

@code {
    private string _winMessage = String.Empty;

    private void CallBall()
    {
        Game.CallBall();
    //if (Game.Cards == null) return;
    //foreach (var card in Game.Cards)
    //{
    //    card.Check(Game.CalledNumbers.Last());
    //}
    }

    private void RestartGame()
    {
        Game.Restart();
        _winMessage = String.Empty;
    }

    private void HandCard()
    {
        Game.HandCard();
    }

    public void CallBingo(IGame.ICard card)
    {
        var winner = Game.CallBingo(card);
        _winMessage = winner ? "You won!" : "Try again...";
    }
}